body {
    cursor: url('/sources/pic/cursor.png'), auto;
    text-align: center;
    background-image: url("/sources/pic/inkerman.jpg");
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}
.main {
    position: relative;
}
.talk {
    position: absolute;
    top: 0;
    right: 35%;
    max-height: 150px;
}
.fofan {
    position: absolute;
    height: 100px;
    top: 24%;
    right: 46.5%;
    display: none;
}
.hand {
    position: absolute;
    height: 100px;
    top: 24%;
    right: 0;
    display: none;
}
.say {
    color: red;
    position: absolute;
    top: 3%;
    right: 37%;
}
button {
    cursor: pointer;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.row {
    display: flex;
    justify-content: center;
    padding-top: 70px;
}
.col {
    margin: 0 20px 20px 20px;
    display: table-cell;
}
.rot {
    position: absolute;
    top: 24.8%;
    right: 46.4%;
    height: 100px;
    display: none;
}
.sanek {
    height: 700px;
}
@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        -webkit-transform: translate(-100%, 0);
        transform: translate(-100%, 0)
    }
}

@-moz-keyframes scroll {
    0% {
        -moz-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        -moz-transform: translate(-100%, 0);
        transform: translate(-100%, 0)
    }
}

@keyframes scroll {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0)
    }
}
.marquee {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.marquee span {
    display: inline-block;
    padding-left: 100%;
    -webkit-animation: scroll 5s infinite linear;
    -moz-animation: scroll 5s infinite linear;
    animation: scroll 5s infinite linear;
}
.header {
    position: absolute;
    top: 0;
    left: 25%;
    width: 50%;
}
.header h1 {
    font-family: Courier New, monospace;
    color: white;
}
